In [1]:
# !pip install pandas-profiling

import numpy as np
import pandas as pd

from pandas_profiling import ProfileReport

from sklearn.preprocessing import LabelEncoder

from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix, classification_report, f1_score

pd.set_option('display.float_format', lambda x: '%.5f' % x)

C:\Users\rashm\AppData\Local\Temp/ipykernel_9384/4249513518.py:6: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [2]:
data = pd.read_csv('voice_train.csv')

In [3]:
data.head()

,Id,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,765,0.16234,0.05821,0.17406,0.10023,0.19651,0.09629,2.12723,7.81513,0.92153,...,0.16234,0.09585,0.01675,0.23529,0.40603,0.04688,3.48438,3.43750,0.15535,male
1,3071,0.16165,0.05743,0.17014,0.15752,0.18293,0.02541,6.96885,60.96805,0.87041,...,0.16165,0.16349,0.01560,0.20408,0.59516,0.17090,3.97949,3.80859,0.20907,female
2,1546,0.16529,0.06189,0.13507,0.11847,0.22518,0.10671,2.63186,12.62912,0.91890,...,0.16529,0.12005,0.03509,0.22222,0.45858,0.08789,1.01562,0.92773,0.45983,male
3,410,0.18810,0.05574,0.20603,0.13049,0.22947,0.09898,1.53841,5.14575,0.91433,...,0.18810,0.10847,0.02130,0.14545,0.49323,0.12500,4.73438,4.60938,0.10520,male
4,2689,0.18750,0.04423,0.19007,0.15680,0.21544,0.05864,1.65308,5.83947,0.90748,...,0.18750,0.15453,0.04834,0.27907,1.11350,0.02344,8.76562,8.74219,0.10310,female

In [4]:
data.shape

(2851, 22)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2851 entries, 0 to 2850
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        2851 non-null   int64
 1   meanfreq  2851 non-null   float64
 2   sd        2851 non-null   float64
 3   median    2851 non-null   float64
 4   Q25       2851 non-null   float64
 5   Q75       2851 non-null   float64
 6   IQR       2851 non-null   float64
 7   skew      2851 non-null   float64
 8   kurt      2851 non-null   float64
 9   sp.ent    2851 non-null   float64
 10  sfm       2851 non-null   float64
 11  mode      2851 non-null   float64
 12  centroid  2851 non-null   float64
 13  meanfun   2851 non-null   float64
 14  minfun    2851 non-null   float64
 15  maxfun    2851 non-null   float64
 16  meandom   2851 non-null   float64
 17  mindom    2851 non-null   float64
 18  maxdom    2851 non-null   float64
 19  dfrange   2851 non-null   float64
 20  modindx   2851 non-null   float64
 21  label     2851 non-null   object
dtypes: float64(20), int64(1), object(1)
memory usage: 490.1+ KB

In [36]:
# pr = ProfileReport(data)
# pr

In [7]:
data.describe()

,Id,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,...,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
count,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,...,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000,2851.00000
mean,1591.56542,0.18092,0.05714,0.18572,0.14035,0.22473,0.08438,3.11847,35.80833,0.89531,...,0.16548,0.18092,0.14289,0.03683,0.25897,0.83361,0.05263,5.07575,5.02311,0.17393
std,909.93917,0.02980,0.01659,0.03617,0.04863,0.02351,0.04273,4.16373,131.43090,0.04480,...,0.07692,0.02980,0.03219,0.01918,0.02981,0.52557,0.06298,3.52620,3.52519,0.11946
min,1.00000,0.03936,0.01836,0.01097,0.00023,0.04295,0.01456,0.14174,2.06846,0.73865,...,0.00000,0.03936,0.05557,0.00978,0.10870,0.00781,0.00488,0.00781,0.00000,0.00000
25%,808.50000,0.16374,0.04208,0.16973,0.11114,0.20876,0.04266,1.63841,5.60450,0.86219,...,0.11810,0.16374,0.11758,0.01822,0.25397,0.42380,0.00781,2.20703,2.18359,0.09959
50%,1590.00000,0.18485,0.05915,0.19007,0.14023,0.22573,0.09424,2.18332,8.25581,0.90184,...,0.18667,0.18485,0.14068,0.04692,0.27119,0.76758,0.02344,4.99219,4.96875,0.13916
75%,2382.50000,0.19906,0.06689,0.21065,0.17569,0.24370,0.11421,2.93296,13.64935,0.92873,...,0.22134,0.19906,0.16959,0.04790,0.27746,1.18041,0.07031,7.07812,7.04297,0.20953
max,3167.00000,0.25112,0.11527,0.26122,0.24735,0.27347,0.25223,34.72545,1309.61289,0.98200,...,0.28000,0.25112,0.23764,0.20408,0.27911,2.95768,0.45898,21.86719,21.84375,0.93237

In [8]:
data.columns

Index(['Id', 'meanfreq', 'sd', 'median', 'Q25', 'Q75', 'IQR', 'skew', 'kurt',
       'sp.ent', 'sfm', 'mode', 'centroid', 'meanfun', 'minfun', 'maxfun',
       'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx', 'label'],
      dtype='object')

In [10]:
# data.corr()['label'].sort_values(ascending = True)

In [11]:
data.duplicated().sum()

0

In [12]:
lower_limit = data['meanfreq'].quantile(0.02)
Upper_limit = data['meanfreq'].quantile(0.98)

In [13]:
print(lower_limit)
print(Upper_limit)

0.1093106164
0.2353506745

In [14]:
data['meanfreq']<Upper_limit

0       True
1       True
2       True
3       True
4       True
        ...
2846    True
2847    True
2848    True
2849    True
2850    True
Name: meanfreq, Length: 2851, dtype: bool

In [15]:
# pointbiserialr is used to check the correlation when one variable is binary (2 output class) and other features are continous

from scipy.stats import pointbiserialr

In [16]:
# to be able to use pointbiserialr, we need to encode our target variable 'label'
le = LabelEncoder()
data['label'] = le.fit_transform(data['label'])

In [17]:
data['label']

0       1
1       0
2       1
3       1
4       0
       ..
2846    0
2847    1
2848    1
2849    1
2850    1
Name: label, Length: 2851, dtype: int32

In [18]:
correlation_coefficient, p_value = pointbiserialr(data['label'], data['meanfreq'])
print(correlation_coefficient)
print(p_value)

-0.3249284316724125
4.299359431567026e-71

In [19]:
# for col in data.columns:
#     correlation_coefficient, p_value = pointbiserialr(data['label'], data[col])
#     print(data.columns)
#     print(correlation_coefficient)

In [20]:
rf = RandomForestClassifier()

In [21]:
x = data.drop('label', axis=1)
y = data['label']

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state = 20)

In [23]:
rf.fit(x_train, y_train)
y_hat_train = rf.predict(x_train)

In [24]:
confusion_matrix = confusion_matrix(y_train, y_hat_train)
classification_report = classification_report(y_train, y_hat_train)
f1_score = f1_score(y_train, y_hat_train)

In [25]:
print(confusion_matrix)
print(classification_report)
print(f1_score)

[[1145    0]
 [   0 1135]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1145
           1       1.00      1.00      1.00      1135

    accuracy                           1.00      2280
   macro avg       1.00      1.00      1.00      2280
weighted avg       1.00      1.00      1.00      2280

1.0

In [26]:
test_data = pd.read_csv('voice_test.csv')

In [27]:
y_hat_test = rf.predict(test_data)

In [28]:
test_data.columns

Index(['Id', 'meanfreq', 'sd', 'median', 'Q25', 'Q75', 'IQR', 'skew', 'kurt',
       'sp.ent', 'sfm', 'mode', 'centroid', 'meanfun', 'minfun', 'maxfun',
       'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx'],
      dtype='object')

In [29]:
sub_file = test_data[['Id']]

In [30]:
y_hat_test = pd.Series(y_hat_test)

In [31]:
sub_file['y_hat_test'] = y_hat_test

C:\Users\rashm\AppData\Local\Temp/ipykernel_9384/4042717727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_file['y_hat_test'] = y_hat_test

In [32]:
sub_file

       Id  y_hat_test
0    2148           0
1    1124           1
2     170           1
3    3158           0
4    2229           0
..    ...         ...
312  3085           0
313  1632           0
314  2893           0
315  1106           1
316  1488           1

[317 rows x 2 columns]

In [33]:
test_data.shape

(317, 21)

In [34]:
sub_file.to_csv('submission.csv', index=False, header=False)

In [35]:
sub_file.shape

(317, 2)